@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("./assets/Fonts/Mulish/Mulish-Regular.ttf ");
}

body {
  margin: 0;
  font-family: "Mulish";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Mulish";
}
