@font-face {
  font-family: "Mulish";
  src: url("./assets/Fonts/Mulish/Mulish\ UI.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Mulish";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Mulish";
}
